@using Rocky_Utility

@if (TempData[WebConstants.Success] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.info('<span style="color:black;">@TempData[WebConstants.Success]</span>');
    </script>
}
@if (TempData[WebConstants.Error] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('<span style="color:black;">@TempData[WebConstants.Error]</span>');
    </script>
}
